<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    <link rel="icon" type="image/png" href="/assets/favicon.ico">
{% seo %}
  </head>
  <style>

    footer {
            padding: 10px;
            text-align: center;
            bottom: 0;
            width: 100%;
    }

    footer p {
        margin: 0;
        color: #555;
    }

    footer a {
        color: #555;
        text-decoration: none;
        margin: 0 10px;
    }
  </style>
  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    
    <footer>
      <p>&copy; <span id="currentYear"></span> Pablo's Portfolio All rights reserved.
        
    </p>
    <a class="view">by {{ page.author | default: site.author }} </a>
  </footer>

  <script>
      // Get the current year
      var currentYear = new Date().getFullYear();
      
      // Update the content of the span with the current year
      document.getElementById('currentYear').textContent = currentYear;
  </script>
  </body>


</html>
